<footer class="page-footer font-small mdb-color pt-4 white-text">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">About Us</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate esse
          quasi, veritatis totam voluptas nostrum.</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-envelope mr-3"></i> smartlandld@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone mr-3"></i> 0942030303</p>
          </li>
          <li>
            <p>
              <i class="fa fa-print mr-3"></i> 0942030303</p>
          </li>
          <li>
            <p>
              <i class="fa fa-home mr-3"></i> 31 Hà Huy Tập, P3, TP.Đà Lạt</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Gallery</h5>
        <img src="assets/images/gallery.png">
      </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
      <!-- Footer Links -->
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
          <!--Copyright-->
          <p class="text-center text-md-left">© 2018 Copyright:
            Test Test
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm mx-1">
                    <i class="fa fa-facebook"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm mx-1">
                    <i class="fa fa-twitter"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm mx-1">
                    <i class="fa fa-google-plus"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm mx-1">
                    <i class="fa fa-linkedin"></i>
                  </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
</footer>
<!-- Footer -->